* {
    box-sizing: border-box;
}

body{
    background-color:white;
    padding: 50px;

   margin: auto;
  width: 60%;

}
    


header{
    position: relative;
    margin-bottom: 50px;
}

.logo{
    margin: 10px;
    display: inline-block;

}

.logo h1 , h6{
 margin-left: 50px;
 margin-top: 5px;
}

.logo h1{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}

.logo h6{
font-size: xx-small;
color: gray;
}
.logo img{
    float: left;
    height: 50px;
}


.socialmedia {
    position: absolute;
    right: 0;
    display: inline-block;
}

.social{
    margin-right: 20px;

}


.topp{
margin-bottom: 30px;
position: relative;
}

.top{
    margin: 10px;
    display: inline-block;
    position: relative;
}

.top2{
    position: relative;
    
}


.top2 p{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    
}

.top2 h6{
    font-size: x-small;
    color: gray;
    left: 0%;
}

.left{
    float: right;
    color: gray;
    right: 0;
    
}

.left img{
    float: left;
    
}

.med img{
    width: 100%;
    margin-top: 30px;
    
}


.med p{
    text-align: justify;
    font-size: medium;
    margin: 20px;
    color: rgb(109, 105, 105);

}

.form{
    padding: 5%;
    position: relative;
    display: inline-block;
    background-image: url("../img/list-bg.png");
    margin-bottom: 20px;
    color: gray;
    box-shadow: 5px 10px #d8cece;}

.form1{
    float: left;

}

.form2{
    margin-left: 300px;
    right: 0%;
    font-size: large;
}

input{
    margin: 7px;
}

.down{
    display: inline-block;
    
}
.down img{
    float: left;
}
.down h4 {
    font-size: x-large;
    margin-top: 10px;
}
.down h4 h5{
    position: relative;
    margin-left: 20px;

}
.down button{
  float: right;
  background-color:rgb(122, 88, 43); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
}




.line2 .line1{
    border: 10px dashed rgb(155, 148, 148);
}



footer{
  margin: 50px;
 text-align: center; 
  position: relative;
  /* left: 20px; */
}

